aiohttp
annotated-types
apscheduler
beautifulsoup4
chromadb
comtypes
dateparser
edge-tts
fastapi
groq
html5lib
keyboard
miniaudio
numpy
openwakeword
pandas
playwright
psutil
pyaudio
pyautogui
pycaw
pydantic
pygame
PyGetWindow
pyperclip
python-dotenv
pywin32
pywinauto
rapidfuzz
readability-lxml
requests
screen-brightness-control
SpeechRecognition
spotipy
urllib3
uvicorn
webrtcvad-wheels
winsdk
