aiohttp
annotated-types
apscheduler
beautifulsoup4
chromadb
comtypes
dateparser
edge-tts
fastapi
groq
html5lib
numpy
openwakeword
pandas
psutil
playwright
pyaudio
pyautogui
pydantic
pygame
python-dotenv
rapidfuzz
requests
screen-brightness-control
SpeechRecognition
spotipy
urllib3
uvicorn
