aiohttp
annotated-types
apscheduler
beautifulsoup4
chromadb
comtypes
dateparser
edge-tts
fastapi
groq
html5lib
numpy
openwakeword
pandas
psutil
playwright
pyaudio
pyautogui
pycaw
PyGetWindow
pydantic
pygame
pyperclip
pywin32
pywinauto
python-dotenv
rapidfuzz
readability-lxml
requests
screen-brightness-control
SpeechRecognition
spotipy
urllib3
uvicorn
winsdk
